---
layout: page
header-img: "img/home-bg.jpg"
header-mask: 0.5
---
{%- assign _ct_ui = site.data.ui-text[site.ui_lang] -%}
{%- assign _ct_pinned = site.posts | where: "pin", true -%}

{% comment %} 置顶文章：front matter 设 pin: true，优先展示在首页最前 {% endcomment %}
{% if _ct_pinned.size > 0 %}
<div class="ct-pinned-list">
    {% for post in _ct_pinned %}
    {% include post-preview.html post=post pinned=true %}
    {% endfor %}
</div>
{% endif %}

{% for post in paginator.posts %}
{% unless post.pin %}
{% include post-preview.html post=post %}
{% endunless %}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; {{ _ct_ui.prev_page }}</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ _ct_ui.next_page }} &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}